# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

test.py
# qualitative cache files
qualitative_cache.json
qualitative_cache_copy.json
#dataset
call_logs.csv 